# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ses ve görsel dosyaları
*.wav
*.mp3
*.png
*.jpg
*.jpeg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Ortam
.env
.venv
venv/
ENV/

# Diğer
.DS_Store
Thumbs.db 