numpy>=1.24.3
librosa>=0.10.1
soundfile>=0.12.1
pyworld>=0.3.4
scipy>=1.11.4
matplotlib>=3.7.1
tqdm>=4.65.0
pyloudnorm>=0.1.0
audioread>=3.0.0
resampy>=0.4.2
numba>=0.57.1
PyQt6>=6.4.0
torch
torchcrepe
spleeter